.notifications
  - if flash[:alert]
    %p= flash[:alert]


.talk-header
  .header-logo
    = link_to 'TALK to MYSELF ' , '/folders',class:"logo"
    = image_tag "https://img.icons8.com/wired/64/000000/edit.png" , class:"pen"

.form
  = form_with model: @folder,  local: true, class: 'folder-form' do |f|
    = f.label :"Create New folder;" , class:"folder-word"
    = f.text_field :name, class:"name-form" ,placeholder:"Name of Folder"
    = f.submit "OKAY" , class:"folder-submit-btn"
